* {
    font-family: Fjalla One;
    margin: 0 auto;
    scroll-behavior: smooth;
}

hr {
    border-top: 2px solid burlywood;
    display: block;
}

h1 {
    padding-bottom: 10px;
    margin-top: 3px;
}

h3 {
    padding-left: 5px;
}

header {
    background: #00FFFF;
    color: #FFF;
    padding: 20px 30px;
    height: 100px;
}

logo {
    height: min-content;
    width: min-content;
}

#logo {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
}

#logo img {
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
}

#logo span {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: #000080;
}

/*  NAV */
nav {
    width: 50%;
    display: inline-block;
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #000080;
    font-size: 24px;
    text-decoration: none;
    display: block;
    padding: 10px 25px;
    border-radius: 3px;
    transition: 0.3s ease all;
}

nav ul li a:hover {
    background: blue;
}

.masuk {
    background-color: #0988A9 !important;
    color: #DAD9DE !important;
}

/* top-content */
.content {
    background: url(img/background.jpg);
    background-size: cover;
}

.main {
    padding: 30px 10px;
    text-align: center;
    color: white;
}

.match {
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.top-content {
    color: white;
}

.logo-klub {
    height: 25px;
    width: 25px;
}

.pertandingan {
    display: flexbox;
}

/* Klasemen */
.ptable table {
    margin: 30px auto;
    border-collapse: collapse;
}

.ptable {
    margin: 0px 0% 0px 0%;
    height: 1000px;
}

th,
td {
    padding: 10px;
}

th {
    background-color: black;
    color: #ffe221;
}

.headin {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 3px;
    display: block;
}

.wpos {
    text-align: center;
}

.wpos td {
    color: yellow;
}

.pos {
    text-align: center;
}

.pos td {
    color: white;
}

table .col {
    border-bottom: 1px solid #FFFFFF;
}

.wpos:hover {
    background-color: #77ff21;
}

.wpos:hover td {
    color: #000000;
}

.pos:hover {
    background-color: #ff7b21;
}

.pos:hover td {
    color: #000000;
}

.logo-klasemen {
    height: 15px;
    width: 15px;
}

/* Footer */
footer {
    height: 145px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    font-size: 12px;
    color: black;
    background-color: #00FFFF;
}

.copyright {
    font-size: 16px;
}

.kontak {
    text-align: left;
    font-size: 16px;
}

footer img {
    max-height: 100px;
}